[buildout]
extensions = buildout.dumppickedversions

parts = 
    instance
    omelette

find-links = http://dist.plone.org/thirdparty/PILwoTk-1.1.6.4.tar.gz

extends = 
    http://dist.plone.org/release/4.1/versions.cfg
    http://good-py.appspot.com/release/plone.app.theming/1.0b8
versions = versions

develop = src/affinitic.skin

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs = 
    PILwoTk
    Plone
    plone.app.theming
    affinitic.skin

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
